name: Auto Build DLL
on:
  workflow_dispatch:
  push:
    branches: [master,main,ci]
    paths-ignore:
      - '**.yml'
      - '!.github/workflows/auto-build.yml'
      - '**.md'
      - '.gitignore'
  pull_request:
    branches: [master,main]

jobs:
  build:
    name: Build DLL
    runs-on: windows-latest
    steps:
    # Checkout sources
    - uses: actions/checkout@v4

    # Setup dotnet environment
    - name: Setup dotnet
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '7.0.x'

    # Build the DLL
    - name: Build project
      run: dotnet build src/Content/GorillaTagModTemplateProject/GorillaTagModTemplateProject.csproj -c Release

    # Upload the DLL
    - name: Upload DLL Artifact
      uses: actions/upload-artifact@v4
      with:
        name: GorillaTagModTemplateProject-DLL
        path: src/Content/GorillaTagModTemplateProject/bin/Release/netstandard2.0/GorillaTagModTemplateProject.dll
